body {
    overflow: auto !important; /* Hacer que el scroll esté activo */
}
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    z-index: 9999; /* Establecer la barra de desplazamiento por encima de todo */
}

div .block-container.st-emotion-cache-z5fcl4.ea3mdgi5> :nth-child(1)> :nth-child(1)> :nth-child(1)> :nth-child(2){
    position: fixed;
    bottom: 0;
    right: 13px;
    z-index: 1;

    /* height: 500px;
    width: 380px; */
    
    background: transparent;
    padding: 10px;
    border-top-right-radius: 10px;

} 



/* 
div.st-emotion-cache-et9b6y.e1f1d6gn2{
    position: fixed;
    bottom: 0;
    right: 0;

    /*height: 500px;
    width: 500px;*/
    /* background-color: rgba(0,0, 0, 0); 
    cursor: pointer;
    padding: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;

} */ 